@import './base.css';

/* CSS */
button {
  padding: 1rem 2rem;
  border-radius: 90rem;
  box-shadow: 5px 5px 0px 2px #000000;
  background-color: #fbede0;
  transition: all 0.3s;
  border: black 1px solid;
}
button:hover {
  background-color: bisque;
}
