@import './base.css';

button {
  padding: 8px 20px;
  border-radius: 20px;
  /* border-color: #483023; */
  border: none;
  background-color: #e4c4a0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Great Vibes', cursive;
  font-size: 15px;
}
button:hover {
  background-color: black;
  color: #e4c4a0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
